.dashboard-page {
  margin-top: 100px;
}

.dashboard-language-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  margin: 10px;
  text-align: center;
}
.dashboard-words {
  display: flex;
  flex-wrap: wrap;
}

.dashboard-language-title-language {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
