.login-page {
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.login-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
}

.login-background {
  background-image: url(background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
