nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  height: 50px;
  justify-content: space-between;
  z-index: 999;
}

.navbar-logo {
  width: 130px;
  margin: 8% 15%;
}
.navbar-controller {
  display: flex;
  margin-right: 1%;
}
