.navbar-logo {
  position: absolute;
  width: 130px;
  margin: 20px 0px 0px 50px;
  z-index: 999;
  left: 0;
}
.navbar-controller {
  position: absolute;
  right: 0;
  z-index: 999;
  display: flex;
}
